<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>biao</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/posting.css">
 {# 导航栏#}
    {% include 'navigation.html' %}

</head>

<body>


    <div class="post">
    <div class="title">
    {{ messages.title }}
    </div>
    <br>
     <div class="text" >
        {{ messages.text }}
    </div>
    <div class="other"></div>
    <div class="info">
        <div>
            作者:{{ messages.writer }}
            点赞数:{{ messages.star }}
        </div>
        <div class="review"></div>
        <script>
            var title = "{{ messages.title }}";
            var temp = document.getElementsByClassName('review')
            var queryString = "title=" + encodeURIComponent(title);

            var btn1 = document.createElement('a')
            btn1.className="btn";
            btn1.innerHTML="点赞";
            btn1.onclick=function(){
            window.location.href="/starplus/?"+queryString;
            }
            temp[0].appendChild(btn1)

            var btn2 = document.createElement('a');
            btn2.className='btn';
            btn2.innerHTML="点踩";
            btn2.onclick=function(){
                window.location.href="/KeyboardMan/?"+queryString;
            }
            temp[0].appendChild(btn2);


            var flag = "{{ messages.col }}"
            var colString;
            var btn3=document.createElement('button');
            if (flag === 'True') {
                colString = "/collectiondown/?"
                btn3.innerHTML = "取消收藏"
            } else {
                colString = "/collectionplus/?"
                btn3.innerHTML = "收藏"
            }
            btn3.className='btn';
            btn3.onclick=function(){
            window.location.href=colString+queryString;
            }
            temp[0].appendChild(btn3)

        </script>
    </div>
    <div class="other"></div>
    {% for review in messages.review %}
    <p>
        用户:{{ review.reader }}
        <br>
        <span class="test"> 评论:{{ review.speak }}</span>

    </p>
        <br>
    {% endfor %}
    <div>
    <form action="" method="post">
        <input type="text" name="review" placeholder="留下你的评论">
        <button>评论</button>
    </form>
    </div>
</div>
</body>

</html>