.banner {
    height: 50px;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    height: 50px;
    width: 1500px;
    position: fixed;
    background-color: aquamarine;
    font-size: 30px;
    justify-content: space-between;
}

.navigation a {
    display: block;
    height: 50px;
    /* width: 1000px; */
    margin-left: 20px;
    margin-right: 20px;
}