body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #000;
}

.login {
    font-weight: bold;
}

.block {
    height: 0px;
    background-color: transparent;
    border-bottom: 1px solid #555;
}

hr {
    border: none;

    margin: 50px 0;
}

form.table {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form.table h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form.table .form-group {
    margin-bottom: 10px;
}

form.table .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form.table input[type="text"],
form.table input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #000000;
}

form.table .btn {
    text-align: center;
}

form.table .log_login {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form.table .log_login:hover {
    background-color: #cc0000;
}

.log_register {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ff0000;
    text-decoration: none;
}