<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}收藏</title>
    <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>
<div class="banner">
{% include 'navigation.html' %}
</div>
{% for msg in messages %}
    <script>
        var title = "{{ msg.title }}";
        var text = "{{ msg.text }}";
        var temp = document.getElementsByTagName('body')
        var link = document.createElement('a');
        var queryString = "title=" + encodeURIComponent(title);
        link.href = "/postings/?" + queryString;
        link.innerHTML="{{ msg.title }}"
        temp[0].appendChild(link)
        temp[0].appendChild(document.createElement('br'))
    </script>
{% endfor %}
</body>
</html>