<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/edit.css">


</head>

<body>
    {% include 'navigation.html' %}
    <div class="edit"></div>

    <form action="" method="post">
    <div class = edit>
        <input type="text" name="title" class="edit_title">
        <input type="text" name="text" class="edit_text">
        <button>发布</button>
    </div>
    </form>

</body>

</html>