<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="block">

    </div>
    <hr>
    <h2>登录</h2>
    <br>
    <hr>
    <form action="" class="table" method="post">
        <p>账户:<input type="text" name="username"></p>
        <p>密码:<input type="password" name="'password"></p>
        <div class="btn"><button>提交</button>
            <button>注册</button>
        </div>
    </form>
    <div class="foot">
        <ul>
            <ul>
                <li>

                </li>
            </ul>
        </ul>
    </div>
</body>

</html>