<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
<div class="banner">
{#            导航栏#}
            {% include 'navigation.html' %}
        </div>
    <div class="block">

    </div>
    <hr>
    <h2>登录</h2>
    <br>
    <hr>


    <form action="" class="table" method="post">
        <p>账户:<input type="text" name="username"></p>
        {% if err=='error' %}
            <p>密码错误</p>
        {% endif %}
        <p>密码:<input type="password" name="password"></p>
        <div class="btn">
            <input type="submit" value="登录" class="log_login">
        </div>
    </form>


    <a href="/register/" class="log_register">注册</a>

</body>

</html>